pydantic==2.10.3
numpy==2.3.0
pandas==2.3.0
spacy==3.8.2
networkx==3.4.2
tqdm==4.67.1
fireworks==2.0.4
dotenv==0.9.9
python-dotenv==1.1.0
openai==1.60.1
faiss-cpu==1.11.0
requests==2.32.3
pypdf2==3.0.1
google-genai